@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@font-face {
    font-family: Digital;
    src: url(./fonts/DS-DIGIB.TTF);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    font-size: 18px;
    --bg-color: #7d7d7d;
    --primary-color: #ffffff;
    --text-color: #000000;
    --secondary-color: #A4C8FF;
    --width: 358px;
    --button-left: 2px;
    --primary-hover-color: #a5a5a5;
    --secondary-hover-color: #6c9feb;
}

body.dark {
    --bg-color: #1B1B1B;
    --primary-color: #000000;
    --text-color: #ffffff;
    --secondary-color: #05295F;
    --button-left: calc(72px - 30px - 2px);
    --primary-hover-color: #202020;
    --secondary-hover-color: #094caf;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
    transition: 1s ease;
}

header {
    margin-top: -40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: var(--width);
}

.mode-button {
    width: 72px;
    height: 34px;
    cursor: pointer;
}

.mode-button .rectangle {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--primary-color);
    position: relative;
    transition: 1s ease;
}

.mode-button .square {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 2px;
    left: var(--button-left);
    transition: 1s ease;
}

h1 {
    color: white;
    font-family: Digital;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 358px;
    overflow: hidden;
}

.calculator > * {
    height: 82px;
    width: 82px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Electrolize';
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: 1s ease;
    justify-self: center;
}

#result {
    background-color: var(--primary-color);
    letter-spacing: 0.2rem;
    font-family: Digital;
    font-size: 1.4rem;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 100px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    cursor: auto;
}

#result > * {
    height: 25px;
}

#clear {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 60px;
}

#delete {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 5;
    height: 60px;
}

.calculator button:not(.number) {
    background-color: var(--secondary-color);
    transition: 1s ease;
}
.calculator button:not(.number):hover {
    background-color: var(--secondary-hover-color);
    transition: 300ms;
}
.calculator button.number:hover {
    background-color: var(--primary-hover-color);
    transition: 300ms;
}

.calculator > .operator {
    font-size: 2rem;
}

@media only screen and (max-width: 400px) {
    :root {
        font-size: 16px;
    }
    body {
        --width: 323px;
    }
    .calculator {
        width: var(--width);
    }
    .calculator > * {
        width: 70px;
        height: 70px;
        flex-grow: 1;
    }
}